.main-outer-div{
    margin-top: 10px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 140px;
}
.heading {
    background-color: #3b5998;
    border-radius: 46px;
    box-shadow: 0px 4px 19px 2px #00000080;
    left: 0;
    top: 0;
    bottom: 0;
  }
  
.headingtext{
    color: #ffffff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 0.7%;
  } 
  .field{
    margin-top: 3%;
    width:30%;
   
  }
  .border{
    border-radius:5px ;
    outline: none; 
    border: 1px solid #ccc;
    padding:1%;
  }
  .def_input{
    width: 200px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none; 
  margin-left: 1%;
  }
  .def_input:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px #007bff;
  }
  
  .def_input::placeholder {
    color: #999; 
  }
  .def_input:disabled {
    background-color: #f2f2f2; 
    color: #777; 
  }
  label{
    font-size:x-large;
  }
  .field-container {
    margin-top: 2%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px; /* Add some spacing between this and the next field */
  }
  
  /* Apply margin to the fields for spacing */
  .field-container .field {
    margin: 0;
  }
  .title-option{
    width:18.5%;
  }
  .select-option{
    width:200px;
  }
  .form-button{
    width:18%;
    display: inline-block;
    padding: 12px 20px;
    background-color: #3b5998;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  .form-button:hover {
    background-color: #304e87;
  }
  .flex{
    display: flex;
  }
  .sizing{
    width:150px;
  }
   .sizing1{
    width:100px;
  }

.logout{
     display: flex ;
     justify-content: flex-end;
     align-items: flex-start;
     float: right;
     
  }
  .logout-btn {
    /* position:absolute; */
    top: 10px;
    right: 10px;
    background-color: #3b5998;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .logout-btn:hover {
    background-color: #2a3f7f;
  }